body {
	width: 960px;
	margin: auto;
}

header ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #F246B8;
}

header ul li.nav {
	display: inline;
	margin: 0px;
	margin-left: 110px;
	padding: 0px;
}

header ul li.nav a {
	color: #FFFFFF;
	font-size: 1.2em;
	text-decoration: none;
}

h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
	text-align: left;
	font-size: 1.6em;
	font-weight: normal;
	color: #F246B8;
}